<%= render "shared/navbar" %>
<div class="confirmation-wrapper">
<div class="container mt-4">
<div class="row mx-auto">
  <h4>Booking confirmed</h4>
  <br>
  <br>
  <br>
</div>
  <div class="row mx-auto border">
    <div class="col-sm-auto">
      <h2><%= @garden.name %></h2>
      <br>
      <h4><i class="fas fa-calendar-alt"></i>  <%= @booking.start_date %> until <%= @booking.end_date %></h4>
      <h4><i class="fas fa-user"></i> <%= @user.email %></h4>
      <h4><i class="fas fa-user-tie"></i> <%= @host.email %></h4>
    </div>
  </div>
</div>
</div>
