<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
  </head>

  <body class="response-body">
  <div class="header logo">
    <%= render 'shared/header' %>
  </div>
  <br>
    <div class="card">
      <div class="circle">
        <i class="checkmark <%= color  %>"><%= icon  %></i>
      </div>
      <h1 class="title <%= color  %>" ><%= title  %></h1>
      <p class="para"><%= paragraph  %><br /> 
      </p>
    </div>
  </body>
</html>
