<%= render "shared/navbar" %>
<div class="container-show">
  <div class="container">
  <div class="card-garden">

    <div class="card-garden-top">
      <img src="https://www.palheironatureestate.com/media/widgetkit/gardens-slide-02-9aa4f8926f5bcf8f9d51629252742ed4.jpg" />
        <div class="card-garden-top-infos">
          <div class="card-garden-top-infos-details">
            <h2> € <%= @garden.price %></h2>
          </div>
          <div class="card-garden-top-infos-details">
            <h2> m² 50 </h2>
          </div>
        </div>
   </div>

<div class="card-garden-infos">
  <div>
     <h1><%= @garden.name %></h1>
     <p><%= @garden.address %></p>
     <p><%= @garden.description %></p>
  </div>
    <i class="fas fa-arrow-square-left"></i>
 </div>

 <% if user_signed_in? %>
  <%= link_to "Book this garden", garden_bookings_path, class: "btn btn-primary btn-lg call-to-action book-garden" %>
<% else %>
  <%= link_to "sign in to book this garden", new_user_session_path %>
<% end %>
